body {
  font-family: sans-serif;
}

nav {
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}

.invalid-passwords {
  transform: translateX(-50px);
}

#evil-button {
  position: absolute;
  white-space: nowrap;
  font-size: 2rem;
}